<h1>Mon bel article :</h1>
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Modifier l'article", edit_article_path(@article) %>
<br>
<%= link_to "Supprimer l'article", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<br>
<%= link_to "Tous les articles", articles_path %>
